
.logo img {
        width: 170px;
        height: 60px;
        margin-bottom: 0;
		}
.logo h1 {
			margin-top: 0;
		
		}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
input {
	padding: 10px;
	box-shadow: 0 0 10px #000;
}
.menu a {
	color: darkblue;
	text-align: center;
	margin-left: 15px;
	color: white;
}

.logo{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	background-color: #6F8FAF;
}
.main h1 {
	color: white;
}
.content {
	background-color: white;
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 30px;
	height: 60vh;
	}
.image {
	width: 260px;
	height: 450px;
    position: absolute;
    right: 0;
}
.content h1 {
	text-align: center;
	font-size: 5rem;
	margin-top: 100px;
}
.content h3 {
	text-align: center;
}
.card-img {
	width: 250px;
	height: 220px;
	margin: 15px;
	background: url("meat.webp");
	position: relative;
	background-size: cover;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%;
}
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 20px;
	gap: 40px;
	background-color: #6F8FAF;
	

}
.text {
background-color: white;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 10px;
opacity: 0.7;
text-align: center;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: black;
}
.card-img1 {
	width: 250px;
	height: 220px;
	margin: 15px;
	background: url("vegan.webp");
	position: relative;
	background-size: cover;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%;
}
.card-img2 {
	width: 250px;
	height: 220px;
	margin: 15px;
	background: url("salad.webp");
	position: relative;
	background-size: cover;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%;
}
.vegan h1 {
font-size: 4rem;
text-align: center;
font-style: italic;
}
.salad h1 {
font-size: 4rem;
text-align: center;
font-style: italic;
}
.about h1 {
font-size: 4rem;
text-align: center;
font-style: italic;
}
.us h3 {
	text-align: center;
}
.us {
	width: 60%;
	margin: 5% 20%;
}
.submit h1 {
font-size: 4rem;
text-align: center;
font-style: italic;
}
.share h3 {
	text-align: center;
}
.share {
	width: 60%;
	margin: 5% 20%;
}
.write label {
	font-style: italic;
	font-size: 2rem;
	margin-left: 40%;
}
.write textarea {
	margin-left: 40%;
	margin-top: 2%;
}
.write button {
	background-color: #6F8FAF;
	color: white;
	width: 80px;
	height: 40px;

}
.write {
	display: flex;
	flex-direction: column;
	width: 40%;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-left: 20%;
}
.meat img {
	height: 250px;
	width: 270px;
	padding-left: 20px;
	border-radius: 50%;
}
.header h1 {
font-size: 4rem;
text-align: center;
font-style: italic;
}
.header h2 {
	margin: 20px;
	font-size: 2rem;
	padding-left: 230px;
}
.recipe h2 {
	font-style: italic;
	font-size: 2rem;
	margin-left: 40%;
}
.recipe {
	padding-top: 0;
}
.meat {
	display: flex;
	justify-content: center;
	gap: 180px;
	padding-top: 30px;
}
.meat-card{
	border: 1px solid black;
}
.meat-image{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.chili {
	padding-left: 230px;
}
.chili img {
	height: 250px;
	width: 270px;
	border-radius: 50%;
}
.chili h2 {
	margin: 20px;
	font-size: 2rem;
}
.recipechili h2 {
	font-style: italic;
	font-size: 2rem;
}
.favorite button {
	width: 90px;
	height: 50px;
    background-color: #6F8FAF;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.move button {
	width: 90px;
	height: 50px;
    background-color: #6F8FAF;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.vegan-card {
	border: 1px solid black;
}
.vegane {
	display: flex;
	justify-content: center;
	gap: 180px;
	padding-top: 30px;
}
.vegan-image img {
	height: 250px;
	width: 270px;
	padding-left: 20px;
	border-radius: 50%;
}
.vegane img {
	height: 250px;
	width: 270px;
	padding-left: 20px;
	border-radius: 50%;
}
.salad-card {
	border: 1px solid black;
}
.salade {
	display: flex;
	justify-content: center;
	gap: 180px;
	padding-top: 30px;
}
.salad-image img {
	height: 250px;
	width: 270px;
	padding-left: 20px;
	border-radius: 50%;
}
.salade img {
	height: 250px;
	width: 270px;
	padding-left: 20px;
	border-radius: 50%;
}
.movee {
	padding-right: 25px;
}
.movee button {
	background-color: #6F8FAF;
	color: white;
	width: 90px;
	height: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.favorite button:hover{
	background-color: gray;
}
.move button:hover {
	background-color: gray;
}
.movee button:hover {
	background-color: gray;
}
.salad-card {
	border: 1px solid black;
}
.salade {
	display: flex;
	justify-content: center;
	gap: 180px;
	padding-top: 30px;
}
.salad-image img {
	height: 250px;
	width: 270px;
	padding-left: 20px;
	border-radius: 50%;
}
.salade img {
	height: 250px;
	width: 270px;
	padding-left: 20px;
	border-radius: 50%;
}